[user]
	name = username
	email = email
[init]
	templatedir = ~/.git-templates
[core]
	hooksPath = ~/.git-templates/hooks/
[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  ui = true
  pager = true
[push]
	default = simple
